---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <div class="portfolio">
      {%- assign ordered_projects = site.projects | sort:"order" -%}
      {%- for project in ordered_projects -%}
      <div class="portfolio-project">
          <img src="{{ project.image }}" />
          <h3><a href="{{ project.url | relative_url }}">{{ project.title | escape }}</a></h3>
          <p>{{ project.description | escape }}</p>
        </div>
      {%- endfor -%}
    </div>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
<script id="dsq-count-scr" src="//megus.disqus.com/count.js" async></script>