---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.projects.size > 0 -%}
    <div class="portfolio">
      {%- assign ordered_projects = site.projects | sort:"order" -%}
      {%- for project in ordered_projects -%}
      <div class="portfolio-project">
        <a href="{{ project.url | relative_url }}">
          <div class="portfolio-project-cover" style="background-image: url({{ project.image }})">
            <div class="gradient">
              <h3 class="portfolio-project-title">{{ project.title | escape }}</h3>
            </div>
          </div>
        </a>
        <p>{{ project.description | escape }}</p>
      </div>
      {%- endfor -%}
    </div>

  {%- endif -%}

</div>
